#car{
    transition: all 500ms ease-in-out;
}

#car:hover{
    transform: translate(1%, 0.8%);
}

#car-2{
    transition: all 500ms ease-in-out;
}

#car-2:hover{
    transform: translate(1%, 0.8%);
}

#car-3{
    transition: all 500ms ease-in-out;
}

#car-3:hover{
    transform: translate(1%, 0.8%);
}

#car-4{
    transition: all 500ms ease-in-out;
}

#car-4:hover{
    transform: translate(1%, 0.8%);
}