#birb-7{
    .cls-24{
        transition: all 300ms ease-in-out;
    }
}
#birb-7:hover{
    transform-origin: 99% 82%;
    animation: 3s ease-in-out infinite alternate wiggle;
    .cls-24{
        transform: translate(2px, -1px);
    }
}

@keyframes wiggle {
    0% {transform: rotate(0deg);}
    33% {transform: rotate(-10deg);}
    66% {transform: rotate(10deg);}
    100% {transform: rotate(-10deg);}
}