#duck{
    animation: 1.5s ease-in-out infinite alternate duck;
    .cls-24{
        transition: all 300ms ease-in-out;        
    }
}
#duck:hover{
    .cls-24{
        transform: translateX(-2px);
    }
}
@keyframes duck{
    from {transform: translateY(0);}
    to {transform: translateY(-7px);}
}